@charset "utf-8";

// Placeholder to allow overriding predefined variables smoothly.
// Define defaults for each variable.
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
